<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>

    <style>
        .selected {
            background-color: blue;
        }
    </style>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <div>Hello, {{message}}</div>

        <input ng-model="userName" />
        <button ng-click="add()" ng-class="{selected: important}">Add</button>

        <ul>
            <li ng-repeat="contact in contacts">
                <span>{{contact.name}}</span>
                <span>{{contact.email}}</span>
            </li>
        </ul>
    </div>

    <script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>
