body
{
    font-family: "Segoe UI";
}

.header
{
    background-color: #0072C6;
    color: White;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.header .title
{
    font-size: 2em;
    vertical-align: middle;
}

.header .menu
{
    display: inline-block;
}

.header .menu span
{
    margin-left: 0.5em;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}    

.header .menu span:hover
{
    background-color: #0064AE;
    cursor: pointer;
}

.current-group
{
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    bottom: 2em;
    margin: 0;
    overflow: auto;
}

.items-view
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.items-view li
{
    height: 3em;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.5em;
}

.items-view li:first-child
{
    border-top: 1px solid #CCCCCC;
}

.items-view li .selection
{
    float: left;
    height: 3em;
    margin-right: 0.25em;
}

.items-view li .title
{
    display: block;
    font-size: 1.15em;
    margin-bottom: 0.25em;
}

.items-view li .sub-title
{
    display: block;
}

.items-view li:hover
{
    background-color: #44a3e9;
    color: White;
}

.items-view li.group:hover
{
    cursor: pointer;
}

.items-view li.goto-parent span
{
    font-size: 1.5rem;
}

.items-view li.goto-parent:hover
{
    cursor: pointer;
}

.current-item
{
}

.footer
{
    position: fixed;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
    left: 0;
    right: 0;
    line-height: 2em;
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    color: #666;
}

.items-view li .selection input[type="checkbox"]
{
    zoom: 1.5;
}
